// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "jz4725b.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>

/ {
	compatible = "ylm,g100", "ingenic,jz4725b";
	model = "G-100";

	aliases {
		serial0 = &uart;
	};

	chosen {
		stdout-path = "serial0:57600n8";
	};

	board {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		ranges = <>;

		backlight: backlight {
			compatible = "pwm-backlight";
			pwms = <&pwm 5 40000 0>;

			brightness-levels = <0 16 32 48 64 80 112 144 192 255>;
			default-brightness-level = <8>;

			pinctrl-names = "default";
			pinctrl-0 = <&pins_pwm5>;

			power-supply = <&vcc>;
		};

		keys@0 {
			compatible = "gpio-keys";
			#address-cells = <1>;
			#size-cells = <0>;

			key@0 {
				label = "D-pad up";
				linux,code = <KEY_UP>;
				gpios = <&gpc 10 GPIO_ACTIVE_LOW>;
			};

			key@1 {
				label = "D-pad down";
				linux,code = <KEY_DOWN>;
				gpios = <&gpd 9 GPIO_ACTIVE_LOW>;
			};

			key@2 {
				label = "D-pad left";
				linux,code = <KEY_LEFT>;
				gpios = <&gpd 11 GPIO_ACTIVE_LOW>;
			};

			key@3 {
				label = "D-pad right";
				linux,code = <KEY_RIGHT>;
				gpios = <&gpd 8 GPIO_ACTIVE_LOW>;
			};

			key@4 {
				label = "Button A";
				linux,code = <KEY_LEFTCTRL>;
				gpios = <&gpd 24 GPIO_ACTIVE_LOW>;
			};

			key@5 {
				label = "Button B";
				linux,code = <KEY_LEFTALT>;
				gpios = <&gpd 16 GPIO_ACTIVE_LOW>;
			};

			key@6 {
				label = "Select button";
				linux,code = <KEY_ESC>;
				gpios = <&gpc 30 GPIO_ACTIVE_LOW>;
			};

			key@7 {
				label = "Start button";
				linux,code = <KEY_ENTER>;
				gpios = <&gpc 31 GPIO_ACTIVE_LOW>;
			};

			key@8 {
				label = "Left shoulder button";
				linux,code = <KEY_TAB>;
				gpios = <&gpd 14 GPIO_ACTIVE_LOW>;
			};

			key@9 {
				label = "Right shoulder button";
				linux,code = <KEY_BACKSPACE>;
				gpios = <&gpd 13 GPIO_ACTIVE_LOW>;
			};
		};
/*

		amp: analog-amplifier {
			compatible = "simple-audio-amplifier";
			enable-gpios = <&gpc 15 GPIO_ACTIVE_HIGH>;

			VCC-supply = <&vcc>;
		};

		sound {
			compatible = "simple-audio-card";

			simple-audio-card,name = "rs90-audio";
			simple-audio-card,format = "i2s";

			simple-audio-card,widgets =
				"Speaker", "Speaker",
				"Headphone", "Headphones";
			simple-audio-card,routing =
				"INL", "LHPOUT",
				"INR", "RHPOUT",
				"Headphones", "LHPOUT",
				"Headphones", "RHPOUT",
				"Speaker", "OUTL",
				"Speaker", "OUTR";
			simple-audio-card,pin-switches = "Speaker";

			simple-audio-card,hp-det-gpio = <&gpd 16 GPIO_ACTIVE_LOW>;
			simple-audio-card,aux-devs = <&amp>;

			simple-audio-card,bitclock-master = <&dai_codec>;
			simple-audio-card,frame-master = <&dai_codec>;

			dai_cpu: simple-audio-card,cpu {
				sound-dai = <&aic>;
			};

			dai_codec: simple-audio-card,codec {
				sound-dai = <&codec>;
			};

		};
		*/

		regulators {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "simple-bus";

			vcc: regulator@0 {
				compatible = "regulator-fixed";

				regulator-name = "vcc";
				regulaor-min-microvolt = <3300000>;
				regulaor-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};

		usb_phy: usb-phy {
			compatible = "usb-nop-xceiv";
			#phy-cells = <0>;

			clocks = <&cgu JZ4725B_CLK_UDC_PHY>;
			clock-names = "main_clk";
			vcc-supply = <&vcc>;
		};
	};
};

&ext {
	clock-frequency = <12000000>;
};

&rtc_dev {
	system-power-controller;
};

&pinctrl {
	pins_mmc0: mmc0 {
		function = "mmc0";
		groups = "mmc0-1bit";
	};

	pins_mmc1: mmc1 {
		function = "mmc1";
		groups = "mmc1-1bit";
	};

	pins_uart: uart {
		function = "uart";
		groups = "uart-tx";
	};

	pins_nemc: nemc {
		function = "nand";
		groups = "nand-cs1", "nand-cle-ale", "nand-fre-fwe";
	};

	pins_pwm5: pwm {
		function = "pwm5";
		groups = "pwm5";
		bias-disable;
	};

	pins_lcd: lcd {
		function = "lcd";
		groups = "lcd-8bit";
	};
};

&mmc1 {
	bus-width = <1>;

	pinctrl-names = "default";
	pinctrl-0 = <&pins_mmc1>;

	cd-gpios = <&gpd 25 GPIO_ACTIVE_LOW>;
};

&mmc0 {
	status = "disabled";
};

&uart {
	pinctrl-names = "default";
	pinctrl-0 = <&pins_uart>;
};

&nemc {
	nandc: nand-controller@1 {
		compatible = "ingenic,jz4725b-nand";
		reg = <1 0 0x4000000>;

		#address-cells = <1>;
		#size-cells = <0>;

		ecc-engine = <&bch>;

		ingenic,nemc-tAS = <10>;
		ingenic,nemc-tAH = <5>;
		ingenic,nemc-tBP = <10>;
		ingenic,nemc-tAW = <15>;
		ingenic,nemc-tSTRV = <100>;

		pinctrl-names = "default";
		pinctrl-0 = <&pins_nemc>;

		rb-gpios = <&gpc 27 GPIO_ACTIVE_LOW>;

		nand@1 {
			reg = <1>;

			nand-ecc-step-size = <512>;
			nand-ecc-strength = <8>;
			nand-ecc-mode = "hw";
			nand-is-boot-medium;
			nand-on-flash-bbt;

			partitions {
				compatible = "fixed-partitions";
				#address-cells = <1>;
				#size-cells = <1>;

				partition@0 {
					label = "bootloader";
					reg = <0x0 0x20000>;
				};

				partition@20000 {
					label = "system";
					reg = <0x20000 0x0>;
				};
			};
		};
	};
};

&cgu {
	assigned-clocks = <&cgu JZ4725B_CLK_RTC>;
	assigned-clock-parents = <&cgu JZ4725B_CLK_OSC32K>;
};

&tcu {
	/* 750 kHz for the system timer and clocksource */
	assigned-clocks = <&tcu TCU_CLK_TIMER0>, <&tcu TCU_CLK_TIMER1>;
	assigned-clock-rates = <750000>, <750000>;
};

&lcd {
	pinctrl-names = "default";
	pinctrl-0 = <&pins_lcd>;

	#address-cells = <1>;
	#size-cells = <0>;

	panel@0 {
		compatible = "ilitek,ili9338";
		reg = <0>;

		backlight = <&backlight>;
		reset-gpios = <&gpd 21 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpc 13 GPIO_ACTIVE_HIGH>;

		port {
			panel_input: endpoint {
				remote-endpoint = <&panel_output>;
			};
		};
	};

	port {
		panel_output: endpoint {
			remote-endpoint = <&panel_input>;
		};
	};
};

&udc {
	phys = <&usb_phy>;
};
