/*
 * CI20 device tree
 *
 * Copyright (c) 2013 Imagination Technologies
 * Author: Paul Burton <paul.burton@imgtec.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston,
 * MA 02111-1307 USA
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "jz4780.dtsi"

/ {
	compatible = "img,ci20";

	memory {
		device_type = "memory";
		reg = <0x0 0x10000000
		       0x30000000 0x30000000>;
	};

	clocks {
		extal: extal {
			clock-frequency = <48000000>;
		};
	};

	board {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		ranges = <>;

		dm9000@0x16000000 {
			compatible = "davicom,dm9000";
			davicom,no-eeprom;

			reg = <0x16000000 1   /* addr */
			       0x16000002 1>; /* data */

			interrupt-parent = <&gpe>;
			interrupts = <19 0x4>;
		};

		ir: ir-receiver {
			compatible = "gpio-ir-receiver";
			gpios = <&gpe 3 GPIO_ACTIVE_LOW>;
		};

		eth0_power: fixedregulator@0 {
			compatible = "regulator-fixed";
			regulator-name = "eth0_power";
			gpio = <&gpb 25 GPIO_ACTIVE_LOW>;
			enable-active-high;
		};
	};
};

&msc0 {
	bus-width = <4>;
	max-frequency = <48000000>;
	cd-gpios = <&gpf 20 GPIO_ACTIVE_LOW>;

	pinctrl-names = "default";
	pinctrl-0 = <&pins_msc0_pe>;
};

&ehci {
	ingenic,vbus-gpio = <&gpf 15 0>;
};

&ohci {
	ingenic,vbus-gpio = <&gpf 15 0>;
};

&nemc {
	/*
	 * Only CLE/ALE are needed for the devices that are connected, rather
	 * than the full address line set.
	 */
	pinctrl-names = "default";
	pinctrl-0 = <&pins_nemc_data &pins_nemc_cle_ale &pins_nemc_frd_fwe>;

	nand: nand@1 {
		compatible = "ingenic,jz4780-nand";
		reg = <1 0 0x1000000>;

		ingenic,nemc-tAS = <10>;
		ingenic,nemc-tAH = <5>;
		ingenic,nemc-tBP = <10>;
		ingenic,nemc-tAW = <15>;
		ingenic,nemc-tSTRV = <100>;

		ingenic,bch-device = <&bch>;
		ingenic,ecc-size = <1024>;
		ingenic,ecc-strength = <24>;

		ingenic,busy-gpio = <&gpa 20 GPIO_ACTIVE_LOW>;
		ingenic,wp-gpio = <&gpf 22 GPIO_ACTIVE_LOW>;

		pinctrl-names = "default";
		pinctrl-0 = <&pins_nemc_cs1>;

		#address-cells = <2>;
		#size-cells = <2>;

		partition@0 {
			label = "u-boot-spl";
			reg = <0x0 0x0 0x0 0x800000>;
		};

		partition@0x800000 {
			label = "u-boot";
			reg = <0x0 0x800000 0x0 0x200000>;
		};

		partition@0xa00000 {
			label = "u-boot-env";
			reg = <0x0 0xa00000 0x0 0x200000>;
		};

		partition@0xc00000 {
			label = "system";
			reg = <0x0 0xc00000 0x1 0xff400000>;
		};
	};
};

&i2c0 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pins_i2c0_data>;

	pmic: act8600@5a {
		compatible = "active-semi,act8600";
		reg = <0x5a>;

		regulators {
			vcore1v_reg: DCDC_REG1 {
				regulator-name = "vcore1v2";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1400000>;
				regulator-always-on;
			};

			vddmem1v5_reg: DCDC_REG2 {
				regulator-name = "vddmem1v5";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-always-on;
			};

			vccio3v3_reg: DCDC_REG3 {
				regulator-name = "vccio3v3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vcc2v5_reg: LDO_REG5 {
				regulator-name = "vcc2.5";
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <2500000>;
				regulator-always-on;
			};

			vwifi_reg: LDO_REG6 {
				regulator-name = "vwifi3v3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
			};

			vcim2v8_reg: LDO_REG7 {
				regulator-name = "vcim2v8";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
			};

			vcim1v5_reg: LDO_REG8 {
				regulator-name = "vcim1v5";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
			};

			/* Do not disable RTC as they connect to reset line */
			vrtc1v8_reg: LDO_REG9 {
				regulator-name = "vrtc1v8";
				regulator-always-on;
			};

			vrtc1v1_reg: LDO_REG10 {
				regulator-name = "vrtc1v2";
				regulator-always-on;
			};
		};
	};
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pins_i2c1_data>;
};

&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pins_i2c2_data>;
};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pins_i2c3_data>;
};

&i2c4 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pins_i2c4_data>;
};
